
@{
    ViewBag.Title = "AnasayfaGaleriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Anasayfa Galeri Resim Ekleme Sayfasi</h4>
<br />
<form method="post">
    <input type="text" name="GaleriResim" class="form-control" placeholder="Resim giriniz" />
    <br />
    <input type="text" name="GaleriBaslik" class="form-control" placeholder="Baslik giriniz" />
    <br />   
    <input type="text" name="GaleriAltBaslik" class="form-control" placeholder="Resim  giriniz" />
    <br />
    <textarea placeholder="Aciklamanizi giriniz" name="GaleriAciklama" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


