
@{
    ViewBag.Title = "HakkimdaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfasi</h4>
<br />
<form method="post">
    <input type="text" name="Resim1" class="form-control" placeholder="Resim giriniz" />
    <br />
    <input type="text" name="Resim2" class="form-control" placeholder="Resim  giriniz" />
    <br />
    <textarea placeholder="Aciklamanizi giriniz" name="Aciklama1" class="form-control" rows="5"></textarea>
    <br />
    <textarea placeholder="Aciklamanizi giriniz" name="Aciklama2" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

